@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;


.brand {
    padding: 15px 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
  
    &__title {
      text-align: center;
      font-family: "Avenir-demi";
      margin: 5px 0;
    }
  
    &__wrapper {
      display: flex;
      flex-direction: column;
      width: 80%;
      align-items: center;
      justify-content: space-between;

      & a{
        margin: 15px 0;
      }
  
      @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;
      }
    }
  }
  