@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.each__brand {
  width: 80%;
  height: 300px;

  @include tablet {
    width: 30%;
  }


  &_img {
    width: 100%;
    height: 65%;
  }

  &_wrapper2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Avenir-regular";

    &-cont p {
      margin: 10px 0;
    }
  }

  &_wrapper3-cont button {
    background-color: #68503f;
    font-family: "Avenir-regular";
    border: unset;
    border-radius: 20px;
    padding: 12px;
    cursor: pointer;
    color: #fff;
  }
}
