@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.hero {
  background-image: url("../../assets/images/banner.png");
  height: 540px;
  background-position: top;
  background-size: cover;
  display: flex;
  align-items: flex-end;

  &__container {
    width: 52%;
    margin-left: 20px;
    margin-bottom: 30px;

    @include tablet {
      width: 26%;
    }
  }

  &__text {
    color: #fff;
    font-family: Avenir-demi;
    font-size: 30px;

    @include desktop {
      font-size: 35px;
    }
  }

  &__button {
    width: 120px;
    height: 40px;
    margin-top: 20px;
    border: unset;
    background-color: #68503f;
    color: #fff;
    &:hover {
      background-color: unset;
      border: 1px solid #68503f;
      color: #000;
      transition: 1s;
    }
  }
  &__button a {
    color: #fff;
  }
}
