@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.brand__details {
  display: flex;
  flex-direction: column;
  font-family: "Avenir-regular";
  background: #000;
  @include tablet {
    flex-direction: row;
  }

  &-text {
    width: 40%;
  }

  &-text p {
    margin: 10px 0;
  }

  &-btn {
    background-color: #000;
    padding: 10px;
    color: #fff;
    border: unset;
    letter-spacing: 1px;
    cursor: pointer;
  }

  &-description {
    border: 1px solid #565656;
  }
}
