@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;

.main {
  padding: 15px 5px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-family: "Avenir-regular";
    padding: 0 10px;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__wrapper p {
    margin: 0 0 15px 10px;
  }

  &__card {
    margin: 5px 0;
    display: flex;
    align-items: flex-end;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;

    @include tablet {
      width: 32%;
      height: 400px;
      background-position: bottom;
    }

    &-1 {
      background-image: url("../../assets/images/card.png");
    }
    &-2 {
      background-image: url("../../assets/images/card2.png");
    }
    &-3 {
      background-image: url("../../assets/images/card3.png");
    }
  }
}

// .main {
//     padding: 20px;

//     &__container{
//         // max-width: 1200px;
//         margin:0 auto;

//         &-heading{
//             text-align: center;
//             font-family: 'Avenir-demi';
//             font-size: 18px;
//         }
//     }

//     &__card {
//         &-container{
//             display:flex;
//             justify-content: center;
//             align-items: center;
//             overflow-x:auto;
//         }
//     }
//             &-wrapper {
//                 box-shadow: 0 2px 4px rgba(0,0,0,0.2);
//                 width: 20%;
//                 border-radius: 4px;
//                 overflow:hidden;
//                 background-color: #fff;
//                 margin-right: 10px;
//                 border: 1px solid rgba(0, 0, 0, 0.2);
//                 position:relative

//                 &--image{
//                     object-fit: cover;
//                     object-position: center center;
//                     width:30%;
//                     height:30%;
//                 }

//                 &--content{
//                     padding:10px;
//                     position:absolute;
//                 }

//                 &--content p{
//                     margin: 5px 0;
//                     font-family: 'Avenir-regular';
//                     font-size: 18px;
//                     line-height: 1.3;
//                 }
//     }
// }
