@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.products__item {
  width: 100%;
  height: 100%;
  text-align: center;

  & img {
    width: 100%;
    height: 70%;
  }
  &-text {
    font-family: "Avenir-demi";
    margin: 8px 0;
  }
  &-amount {
    font-family: "Avenir-regular";
    color: #7c3fff;
  }
}

.products__link{
  width: 25%;
  margin: 5px;
}