@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.navbar {
  padding: 20px 10px;

  &__container {
    display: flex;
    justify-content: space-between;
    

    &-icon {
      font-size: 20px;
      display: block;

      @include tablet {
        display: none;
      }
    }
    &-menu {
      display: none;
      font-family: 'Avenir-regular';
      @include tablet {
        display: flex;
        justify-content: center;
        align-items: center;

      }
    }
    &-menu a {
      padding: 10px;
    }

    &-wrapper {
      display: flex;
      justify-content: center;
      width: 45%;

      @include desktop {
        width: 30%;
      }
    }
  }

  &__link {
     color :black;
  }
  &__link:hover, .active{
    border-bottom:2px solid #808080;
    cursor:pointer;
  }

  &__icons-container {
    display: flex;
    justify-content: space-between;
    width: 15%;

    @include tablet {
      width: 15%;
    }
    &-icon {
      font-size: 20px;
    }
  }

  &__button{
    display:flex;
    cursor: pointer; 
    border-radius:5px;
    font-family: 'Avenir-regular';
    background: rgba(107, 106, 106, 0);
    color: #808080;
    border: none;
    transition: .3s ease;
    padding-right: 2px;  
  }

  &__button:hover{
    background: rgba(158, 139, 139, 0.6)
  }
}
