@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.testimonial {
  margin: 75px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Avenir-regular";

  &__img {
    height: 150px;
    width: 23%;
  }

  &__wrapper {
    width: 70%;

    // @include tablet{
    //     width: 40%
    // }
  }

  &__quote {
    margin: 20px 0;
  }
}
