@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.brand__details {
  display: flex;
  padding: 0 40px;
  font-family: "Avenir-regular";
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }

  &-stars {
    margin: 20px 0;
  }
  &-image,
  &-wrapper {
    width: 100%;

    @include tablet {
      width: 45%;
      margin-top: 30px;
    }
  }
  &-image img {
    width: 100%;
  }


  &-loader-or-error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;

    font-family: "Avenir-regular";
    font-size: 1.5rem;
    color: #2c2c2c;
    font-weight: 600;
  }


  &-text {
    height: 100%;
    h2 {
      margin-bottom: 5px;
    }

    & p {
      color: #555555;
    }
  }

  &-description {
    color: #555555;
    border: 1px solid #555555;
    padding: 10px 35px;
    width: 87%;

    & p {
      margin: 20px 0;
      font-style: italic;
      color: #979797;
    }

    & b {
      font-family: "Avenir-demi";
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 600;
      color: #000;
    }
  }

  &-reviews {
    color: #555555;
    border: 1px solid #555555;
    padding: 10px 35px;
    width: 87%;
  }

  &-review {
    margin: 20px 0;
    border-bottom: 1px solid #555555;
    padding-bottom: 20px;

    &-top {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & h3 {
        font-family: "Avenir-demi";
        font-size: 1.2rem;
        color: #000;
      }
    }

    &-bottom {
      font-style: italic;
      color: #373737;
      font-family: "Avenir-regular";
      font-size: 1rem;
      margin: 10px 0;
    }

    &-date {
      font-style: italic;
      color: #979797;
    }
  }


  &-btn1 {
    padding: 15px;
    background-color: unset;
    border: 1px solid #555555;
    font-family: "Avenir-demi";
    cursor: pointer;
    color: #555555;


    &--active {
      background-color: #555555 !important;
      color: #fff !important;
    }
  }

  &-container {
    padding: 40px;
  }
  &-text p {
    margin: 20px 0;
  }

  &-btn {
    background-color: #000;
    padding: 10px;
    color: #fff;
    border: unset;
    letter-spacing: 1px;
    cursor: pointer;
  }
}
.fprice {
  text-decoration: line-through;
  margin-right: 10px;
}
.nprice {
  color: #024e82;
}
.star {
  color: #d6763c;
}
